@import "../../sass/_variables";

.sideMenu {
  ul {
    margin-top: 1.5rem;
    li {
      transition: all 0.15s;
      &:hover {
        transform: scale(1.05);
      }
      &:first-child a {
        transition: inherit;
        background-color: $menu-color;
        color: white;
        display: flex;
        align-items: center;
        padding: 0.5rem 0 0.5rem 1.5rem;
        font-weight: 600;
        font-size: 1.125rem;
        border-radius: 0.75rem;
        margin-bottom: 1.5rem;
        box-shadow: 0 8px 14px -3px $menu-color;
        &:hover {
          box-shadow: none;
        }
      }
      &:nth-child(2) a,
      &:last-child a {
        border: 1px solid rgb(209, 213, 219);
        color: black;
        display: flex;
        align-items: center;
        padding: 0.5rem 0 0.5rem 1.5rem;
        font-weight: 500;
        font-size: 1.125rem;
        border-radius: 0.75rem;
        margin-bottom: 1.5rem;
      }
    }
    li a {
    }
  }
}
