@import "../../scss/_variables";

.home {
  padding: 2rem 1rem;
  h1 {
    font-family: $title-font;
    font-weight: 700;
    font-size: 2.25rem;
    background-image: linear-gradient(
      to right,
      $menu-color,
      #ca1023c4,
      #c90519
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
  select {
    display: block;
    width: 100%;
    padding: 0.625rem;
    background-color: #f9fafb;
    border: 1px solid #d1d5db;
    border-radius: 0.5rem;
    font-size: 0.875rem;
    color: #111827;
    &:focus {
      border: 1px solid #3b82f6;
    }
  }
  ul {
    li {
      margin-right: 0.5rem;
      a {
        display: inline-block;
        border: 1px solid #9ca3af;
        padding: 0.5rem 1rem;
        color: #6b7280;
        border-radius: 1.25rem;
        font-weight: 500;
        box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
        transition: all 0.3s;
        &:hover {
          color: #4b5563;
          background-color: #f9fafb;
          box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1);
        }
      }
    }
  }
  .meals {
    margin-right: -0.75rem;
    margin-left: -0.75rem;
    row-gap: 5rem;
  }
  .notFound{
    margin-top: 3rem;
    text-align: center;
    font-size: 1.5625rem;
    font-weight: 500;
  }
}
