@import "../../scss/_variables";
@import "../../scss/_mixin";
@import "../../scss/_placeholders";

.home {
  padding: 2rem 1rem;
  h1 {
    @extend %heading1Style;
  }
  select {
    display: block;
    width: 100%;
    padding: 0.625rem;
    background-color: #f9fafb;
    border: 1px solid #d1d5db;
    border-radius: 0.5rem;
    font-size: 0.875rem;
    color: #111827;
    &:focus {
      border: 1px solid #3b82f6;
    }
  }
  ul {
    li {
      margin-right: 0.5rem;
      a {
        display: inline-block;
        border: 1px solid #9ca3af;
        @include button(
          500,
          transparent,
          #6b7280,
          0.5rem 1rem,
          1.25rem,
          0 4px 6px -1px rgb(0 0 0 / 0.1),
          all 0.3s,
          (
            color: #4b5563,
            background-color: #f9fafb,
            box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
          )
        );
        // font-weight: 500;
        // color: #6b7280;
        // padding: 0.5rem 1rem;
        // border-radius: 1.25rem;
        // box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
        // transition: all 0.3s;
      }
    }
  }
  .meals {
    @extend %rowMarginsAndGutter;
  }
  .notFound {
    margin-top: 3rem;
    text-align: center;
    font-size: 1.5625rem;
    font-weight: 500;
  }
}
