@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import "./sass/_variables";

body {
  font-family: $body-font;
  background-color: #f4f2ee;
}

.active.link,
.active:hover.link {
  background-color: black;
  color: white;
}
